body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #e6eed6;
    border-radius: 5px;
}

.topnav a {
    float: right;
    display: block;
    color: #a72608;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .active {
    float: left;
    color: #e6eed6;
    background-color: #a72608;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: right;
    overflow: hidden;
    color:#a72608;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #a72608;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e6eed6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #a72608;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #a72608;
    color: white;
}

.dropdown-content a:hover {
    background-color: #a72608;
    color: #e6eed6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .profile_container {
        flex-direction: column;
    }

    .profile {
        height: auto;
        max-width: 90%;
        width: auto;
        overflow: auto;
    }

    .flex-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: right;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: right;
    }
}
.fade-in-text {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h2 {
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    margin-top: 20px;
    color: #090c02;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile_container {
    display: flex;
    justify-content: space-between;
    border: solid 6px #bbc5aa;
    border-radius: 10px;
    background-color: #BBC5AA;
    margin: 10px;
}

.profile {
    display: flex;
    justify-content: flex-end;
    width: 500px;
    height: 375px;
}

.profile_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px;
    padding: 20px;
    background-color: #e6eed6;
    border-radius: 2px 80px 2px 80px;
}

.profile_text p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.last-p {
    display: flex;
    justify-content: right;
}

.flex-container {
    display: flex;
    gap: 10px;
}

.flex-container div {
    display: flex;
    flex-direction: column;
    border: 4px solid #bbc5aa;
    color:#e6eed6;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    height: 500px;
    flex: 1 1 0%;
    margin-top: 80px;
    padding: 10px;
}

.flex-container p {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: flex-end;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

.flex-container h3 {
    border-radius: 10px;
    padding: 10px;
    color:#bbc5aa;
    background-color: rgba(0, 0, 0, 0.6);
}

.flex-container a {
    text-decoration: none;
    transition: color 0.3s ease-out;
    color:#bbc5aa;
}

.flex-container a:hover {
    color: #a72608;
}

.one {
    background-image: url(images/road_paint.PNG);
    background-color: black;
    background-size: cover;
}

.two {
    background-image: url(images/navy_paint.PNG);
    background-color: black;
    background-size: cover;
}

.three {
    background-image: url(images/arbor_paint.PNG);
    background-color: black;
    background-size: cover;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #bbc5aa;
    margin: 50px 0px;
    height: 350px;
    width: auto;
    text-align:center;
    color:#e6eed6;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
}

footer {
    text-align:center;
    background-color: #e6eed6;
    padding: 10px;
    border-radius: 6px;
}

.contact_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
    background-color: #a72608;
    border-radius: 10px;
    margin: 10px 0px;
}

.contact_container div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#e6eed6;
}

.contact_container h3 {
    margin-top: -5px;
    margin-bottom: -5px;
}


.contact_text {
    display: flex;
    flex-direction: column;
}

.contact_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact_button a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #a72608;
    background-color: #e6eed6;
    padding: 5px 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease-out;
} 

 .contact_button a:visited {
     text-decoration: none;
 }

 .contact_button a:hover {
    background-color:#090c02;
    color:#e6eed6;
 }

 .contact_button a:active {
    background-color:rgba(0, 0, 0, 0.6);
 }