.header {
    overflow: hidden;
    background-color: #e6eed6;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    color: #a72608;
}

.header a:hover {
    /*background-color: #ddd;
    color: black;*/
    background-color: #a72608;
    color: white;
}

.header a.active {
    background-color: #a72608;
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }

    .profile_container {
        flex-direction: column;
    }

    .profile {
        height: auto;
        max-width: 90%;
        width: auto;
        overflow: auto;
    }

    .flex-container {
        flex-direction: column;
    }
}

.fade-in-text {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h2 {
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    color: #090c02;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile_container {
    display: flex;
    justify-content: space-between;
    border: solid 6px #bbc5aa;
    border-radius: 10px;
    background-color: #BBC5AA;
    margin: 10px;
}

.profile {
    display: flex;
    justify-content: flex-end;
    width: 500px;
    height: 375px;
}

.profile_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px;
    padding: 20px;
    background-color: #e6eed6;
    border-radius: 2px 100px 2px 100px;
}

.flex-container {
    display: flex;
}

/* this selector selects all divs inside of .flex-container */
.flex-container div {
    display: flex;
    background: #e6eed6;
    border: 4px solid #bbc5aa;
    color:#a72608;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    height: 500px;
    flex: 1 1 0%;
    margin: 10px;
    margin-top: 100px;
}

/* only div.two is selected here */
.flex-container .two {
    flex: 1 1 0%;
}