body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #e6eed6;
    border-radius: 5px;
}

.topnav a {
    float: right;
    display: block;
    color: #a72608;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .active {
    float: left;
    color: #e6eed6;
    background-color: #a72608;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: right;
    overflow: hidden;
    color: #a72608;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #a72608;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e6eed6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #a72608;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #a72608;
    color: white;
}

.dropdown-content a:hover {
    background-color: #a72608;
    color: #e6eed6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .profile_container {
        flex-direction: column;
    }

    .profile {
        height: auto;
        max-width: 90%;
        width: auto;
        overflow: auto;
    }

    .flex-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: right;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: right;
    }
}

.contact-info {
    padding: 10px;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #e6eed6;
    padding: 10px;
    border-radius: 6px;
}